<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="shortcut icon" type="image/png" href="{{ "../favicon.png" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/javascript/fullpage.js/dist/jquery.fullpage.min.css" | relative_url }}">
  <!-- Og tags -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://fomix.poderlatam.org/" />
  <meta property="og:site_name" content="FOMIX, la ciencia del dinero" />
  <meta property="og:description" content="El Tren Maya, megaproyecto estrella del gobierno de Andres Manuel López Obrador, beneficia los intereses empresariales por encima de la protección y garantía de los derechos de las comunidades y el medio ambiente." />
  <meta property="og:image" content="https://especialespacio.poderlatam.org/assets/img/FOMIX.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="FOMIX, la ciencia del dinero">
  <meta name="og:title" content="FOMIX, la ciencia del dinero">
  <meta name="twitter:text:title" content="FOMIX, la ciencia del dinero">
  <meta name="twitter:image" content="https://especialespacio.poderlatam.org/assets/img/FOMIX.jpg">
  {%- feed_meta -%}
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/fullpage.js/dist/jquery.fullpage.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/d3/d3.js" | relative_url }}"></script>
  <script src="{{ "/assets/javascript/main.js" | relative_url }}"></script>
  <script>
    window.graphConfig = {{ site.graph | jsonify }};
  </script>
</head>
